* {
  box-sizing: border-box;
}

body {
  height: 96vh;
  background-color: black;
  padding: 15px 15px 15px 15px;
}

.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0;
  /* border: 1px solid red; */
}

.playerInputDiv {
  height: 70vh;
  width: 90vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  margin: auto;
}

.playButton {
  height: 10%;
  width: 40%;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background-color: black;
  font-size: 40px;
}


.scoresDiv {
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  justify-content: flex-start;
  align-items: center;
}

.scoresDiv img {
  width: 100%;
  /* margin: -10px; */
}

.scorePanel {
  width: 90%;
  height: 9%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

#currentPlayer {
  border: 2px dashed purple;
}

p, h1 {
  color: white;
  display: inline;


}

.infoDiv {
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  justify-content: space-around;
  align-items: center;
}

.infoPanel {
  width: 90%;
  height: 9%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.infoPanel img {
  height: 100%;
}

.infoPanel p {
  font-size: 20px;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
  /* border: 1px solid grey; */
  width: 100vh;
  height: 100vh;
  flex-wrap: wrap;
  background-color: black;
  
}



.cell {
  width: 5%;
  height: 5%;
  background-color: black;
  color: aliceblue;
  /* border: 1px solid red; */
}

.wall {
  background-color: black;
  border-radius: 5px;
  outline: 3px double purple;
  outline-offset: -6px;


}

.food {
  background-image: url(images/OJS1.png);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.superFoodEatable {
  background-image: url(images/bolt-from-the-blue-1.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.superFoodFreeze {
  background-image: url(images/wonder-green.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.superFoodSpeed {
  background-image: url(images/berry-set-go.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.dude-right {
  background-image: url(images/dude-right.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-left {
  background-image: url(images/dude-left.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-up {
  background-image: url(images/dude-up.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-down {
  background-image: url(images/dude-down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-right-fast {
  background-image: url(images/dude-right-speedy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-left-fast {
  background-image: url(images/dude-left-speedy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-up-fast {
  background-image: url(images/dude-up-speedy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-down-fast {
  background-image: url(images/dude-down-speedy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost1 {
  background-image: url(images/cloud-red.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost2 {
  background-image: url(images/cloud-purple.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost3 {
  background-image: url(images/cloud-orange.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost4 {
  background-image: url(images/cloud-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost5 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost6 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost7 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost8 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.eatableBlue {
  background-image: url(images/cloud-eatable.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.freezeBlue {
  background-color: cornflowerblue;
}

.white {
  color: white;

}

.life {
  background-image: url(images/heartArtboard\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.returningGhost {
  background-image: url(images/cloud-dead.png);
  background-size: contain;
  background-repeat: no-repeat;
}



/* THIS HANDLES MOVING THE PALYER SMOOTHLY */

.animate-dude-right {
  animation: move-dude-right 0.4s linear;
}

@keyframes move-dude-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-left {
  animation: move-dude-left 0.4s linear;
}

@keyframes move-dude-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-up {
  animation: move-dude-up 0.4s linear;
}

@keyframes move-dude-up {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-down {
  animation: move-dude-down 0.4s linear;
}

@keyframes move-dude-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}

/* THIS HANDLES MOVING THE PLAYER AT DOUBLE SPEED */

.animate-dude-right-fast {
  animation: move-dude-right-fast 0.2s linear;
}

@keyframes move-dude-right-fast {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-left-fast {
  animation: move-dude-left-fast 0.2s linear;
}

@keyframes move-dude-left-fast {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-up-fast {
  animation: move-dude-up-fast 0.2s linear;
}

@keyframes move-dude-up-fast {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-down-fast {
  animation: move-dude-down-fast 0.2s linear;
}

@keyframes move-dude-down-fast {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}



/* THIS HANDLES MOVING THE GHOSTS SMOOTHLY */

.animate-ghost-right {
  animation: move-ghost-right 0.4s linear;
}

@keyframes move-ghost-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-left {
  animation: move-ghost-left 0.4s linear;
}

@keyframes move-ghost-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-up {
  animation: move-ghost-up 0.4s linear;
}

@keyframes move-ghost-up {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-down {
  animation: move-ghost-down 0.4s linear;
}

@keyframes move-ghost-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}

  

  