* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 700px;
  height: 700px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid red;
}

.wall {
  background-color: black;

}

.food {
  /* background-image: url(images/OJS.png); */
  background-image: url(images/food-dot-black.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.superFood {
  /* background-image: url(images/bolt-from-the-blue.png); */
  background-image: url(images/food-dot.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.dude-right {
  background-image: url(images/pac-man.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-left {
  background-image: url(images/pac-man-left.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-up {
  background-image: url(images/pac-man-up.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.dude-down {
  background-image: url(images/pac-man-down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost1 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost2 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost3 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost4 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost5 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost6 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost7 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost8 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.eatableBlue {
  background-image: url(images/ghost-blue-big.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.white {
  color: white;
  /* font-size: 40px;
  overflow: auto;
  white-space: nowrap; */
}

.life {
  background-image: url(images/life-pixelated.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.returningGhost {
  background-image: url(images/ghost-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
}



/* THIS HANDLES MOVING THE PALYER SMOOTHLY */

.animate-dude-right {
  animation: move-dude-right 0.5s linear;
}

@keyframes move-dude-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-left {
  animation: move-dude-left 0.5s linear;
}

@keyframes move-dude-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-up {
  animation: move-dude-up 0.5s linear;
}

@keyframes move-dude-up {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0);
  }
}

.animate-dude-down {
  animation: move-dude-down 0.5s linear;
}

@keyframes move-dude-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}


/* THIS HANDLES MOVING THE GHOSTS SMOOTHLY */

.animate-ghost-right {
  animation: move-ghost-right 0.5s linear;
}

@keyframes move-ghost-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-left {
  animation: move-ghost-left 0.5s linear;
}

@keyframes move-ghost-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-up {
  animation: move-ghost-up 0.5s linear;
}

@keyframes move-ghost-up {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0);
  }
}

.animate-ghost-down {
  animation: move-ghost-down 0.5s linear;
}

@keyframes move-ghost-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}

  

  