* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 700px;
  height: 700px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid red
}

.wall {
  background-color: black;
}

.food {
  background-image: url(images/food-dot.png);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.dude {
  background-image: url(images/pac-man.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost1 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost2 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost3 {
  background-image: url(images/ghost-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost4 {
  background-image: url(images/ghost-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.white {
  color: white;
}